#screenplay-cover {
    h1 {
        font-size: 2rem;
        font-weight: bold;
    }
    h2, h3 {
        font-size: 1rem;
        font-weight: bold;
    }
    // page-break-after: always;
    height: 100svmax;
    display: grid;
    place-content: center;
    .content {
        padding-left: 5rem;
    }
    .description {
        margin-top: 4rem;
    }
}
@media screen {
    #screenplay-cover {
        display: none;
    }
}
