#screenwriter-editor {
    font-size: var(--font-size);
    line-height: var(--line-height);
    max-width: 46rem;
    margin: 0 auto;
    letter-spacing: 0px;
    counter-reset: scene-counter 0;
    [contenteditable] {
        &:focus {
            outline: none;
        }
    }
    > section {
        position: relative;
        &:before {
            // content: attr(data-index);
            position: absolute;

            font-size: 0.8rem;
            // top: 1rem;
            left: -5.5rem;
            text-align: right;
            width: 5rem;
            opacity: 0.25;
        }
        &.uppercase.description {
            counter-increment: scene-counter 1;
            font-weight: bold;
            &:before {
                content: counter(scene-counter);
                font-size: 1rem;
                font-weight: normal;
            }
        }
        padding: 1rem 2rem;
        &.selected {
            background: var(--color-light-grey-opaque) !important;
            outline: none;
        }
        transition: background-color 0.1s;
        &:hover {
            background: var(--color-almost-white);
        }
        > div:not(.dialogAnnotation) {
            &:before {
                // content: attr(data-id);
                position: absolute;
                left: 0;
                top: 0;
                font-size: 0.8rem;
                font-weight: normal;
                opacity: 0.5;
            }
            &:focus:after {
                content: "Text";
                display: block;
                position: absolute;
                opacity: 0.15;
                font-size: 0.8rem;
                left: calc(100% + 1rem);
                text-align: left;
                text-transform: uppercase;
                top: calc(50% - 0.75rem);
                background: var(--color-text);
                color: var(--color-background);
                padding: 0 0.25rem;
                font-weight: normal;
            }
            &.dialogCharacter:focus:after {
                content: "Character";
            }
            &.dialogText:focus:after {
                content: "Dialog";
            }
            &.dialogAnnotation:focus:after {
                content: "Annot.Diag.";
            }
            &.descriptionAnnotation:focus:after {
                content: "Annotation";
            }
        }
    }

    div.description {
    }
    div.descriptionAnnotation {
        text-align: right;
    }
    div.dialogCharacter,
    div.dialogCharacter + .suggestion-box ul {
        padding-left: 20rem;
        text-transform: uppercase;
        font-weight: bold;
    }
    div.dialogText {
        padding-left: 10rem;
        max-width: 33rem;
    }
    div.dialogAnnotation {
        padding-left: 12rem;
        max-width: 35rem;
        &:before {
            content: "(";
        }
        &:after {
            content: ")";
        }
    }
    section.strong div {
        font-weight: bold;
    }
    section.h1,
    section.h2,
    section.h3,
    section.h4,
    section.h5 {
        div {
            line-height: 1.4em;
            font-weight: bold;
        }
    }
    section.h1 div {
        font-size: 2rem;
    }
    section.h2 div {
        font-size: 1.5rem;
    }
    section.h3 div {
        font-size: 1.5rem;
        text-transform: uppercase;
    }
    section.h4 div {
        font-size: 1.5rem;
        text-transform: normal;
    }
    section.h6 div {
        font-weight: normal;
        text-transform: uppercase;
    }
    section.h7 div {
        opacity: 0.5;
    }
    section.comment {
        opacity: 0.6;
    }
    section.h5 div {
        font-weight: bold;
        font-size: 1rem;
    }
    section.dialogAnnotation {
        padding-top: 0;
        padding-bottom: 0;
        margin-top: -0.5rem;
    }
    section.dialogCharacter {
        padding-bottom: 1rem;
    }
    section.dialogCharacter + section.dialogText {
        padding-top: 0;
    }
    section.description + section.dialogCharacter {
        margin-top: 1rem;
    }
    section.dialogText + section.description {
        margin-top: 2.5rem;
    }
}

.focus {
    --opacity-out-of-focus: 0.25;

    > #screenwriter-editor {
        > section > div:not(.suggestion-box) {
            opacity: var(--opacity-out-of-focus);
            transition: opacity 0.1s;
            &:focus,
            &:hover {
                opacity: 1;
                background: none;
            }
            &:focus {
                opacity: 1 !important;
            }
        }
        > section > div:not(.dialogAnnotation) {
            // font display classification boxes
            &:focus:after {
                display: none;
            }
        }
        > section:hover,
        > section.selected {
            background: none;
        }
        // > section > div.suggestion-box {
        //     opacity: 1;
        // }
    }

    .no-mouse-pointer {
        cursor: none;
        > #screenwriter-editor > section > div {
            &:hover {
                opacity: var(--opacity-out-of-focus);
            }
        }
    }

    #github-link,
    .edit-meta-data {
        display: none;
    }
    #screenwriter-toolbar {
        opacity: 0;
        transition: opacity 0.5s;
        &:hover {
            opacity: 1;
        }
    }
}
