.toggle-switch {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0.25);
    input[type=checkbox]{
        height: 0;
        width: 0;
        visibility: hidden;
      }
      
      label {
        cursor: pointer;
        text-indent: -9999px;
        width: 200px;
        height: 100px;
        background: grey;
        display: block;
        border-radius: 100px;
        position: relative;
      }
      
      label:after {
        content: '';
        position: absolute;
        top: 10px;
        left: 10px;
        width: 80px;
        height: 80px;
        background: #fff;
        border-radius: 80px;
        transition: 0.3s;
      }
      
      input:checked + label {
        background: var(--color-primary);
      }
      
      input:checked + label:after {
        left: calc(100% - 10px);
        transform: translateX(-100%);
      }
      
      label:active:after {
        width: 130px;
      }
}

