#screenwriter-toolbar {
    position: fixed;
    z-index: 999;
    display: flex;
    .icons {
        display: flex;
        align-items: center;
    }
    .show-more-icons {
        position: relative;
        > .icons {
            display: none;
            position: absolute;
            left: 0;
            top: 1.75rem;
        }
        &:hover {
            .icons {
                display: block;
            }
        }
    }
    .icon {
        font-size: 20px;
        width: 30px;
        height: 30px;
        padding: 5px;
        display: grid;
        place-content: center;
        border-radius: 2px;
        position: relative;
        > div {
            width: 1rem;
            height: 1rem;
            position: relative;
        }
        &:hover {
            cursor: pointer;
            background: var(--color-light-grey);
            position: relative;
            &:before {
                content: attr(data-help);
                position: absolute;
                width: 10rem;
                top: 0rem;
                left: 2rem;
                font-size: 0.8rem;
                color: var(--color-text);
                background: var(--color-background);
                z-index: 99999;
                padding: 0.5rem 1rem;
            }
        }
        &.active {
            background: var(--color-text);
            color: var(--color-background);
            &:hover {
                background: var(--color-text);
            }
        }
    }
}

.gg-add {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 22px;
    height: 22px;
    border: 2px solid;
    transform: scale(var(--ggs, 1));
    border-radius: 22px;
}
.gg-add::after,
.gg-add::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 10px;
    height: 2px;
    background: currentColor;
    border-radius: 5px;
    top: 8px;
    left: 4px;
}
.gg-add::after {
    width: 2px;
    height: 10px;
    top: 4px;
    left: 8px;
}

.gg-arrow-down-o {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 22px;
    height: 22px;
    border: 2px solid;
    transform: scale(var(--ggs, 1));
    border-radius: 20px;
}
.gg-arrow-down-o::after,
.gg-arrow-down-o::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    bottom: 4px;
}
.gg-arrow-down-o::after {
    width: 6px;
    height: 6px;
    border-bottom: 2px solid;
    border-left: 2px solid;
    transform: rotate(-45deg);
    left: 6px;
}
.gg-arrow-down-o::before {
    width: 2px;
    height: 10px;
    left: 8px;
    background: currentColor;
}

.gg-dark-mode {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs, 1));
    border: 2px solid;
    border-radius: 100px;
    width: 20px;
    height: 20px;
}
.gg-dark-mode::after,
.gg-dark-mode::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    display: block;
}
.gg-dark-mode::before {
    border: 5px solid;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    border-right: 0;
    width: 9px;
    height: 18px;
    top: -1px;
    left: -1px;
}
.gg-dark-mode::after {
    border: 4px solid;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-left: 0;
    width: 4px;
    height: 8px;
    right: 4px;
    top: 4px;
}

.gg-trash {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs, 1));
    width: 10px;
    height: 12px;
    border: 2px solid transparent;
    box-shadow: 0 0 0 2px, inset -2px 0 0, inset 2px 0 0;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    margin-top: 4px;
}
.gg-trash::after,
.gg-trash::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
}
.gg-trash::after {
    background: currentColor;
    border-radius: 3px;
    width: 16px;
    height: 2px;
    top: -4px;
    left: -5px;
}
.gg-trash::before {
    width: 10px;
    height: 4px;
    border: 2px solid;
    border-bottom: transparent;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    top: -7px;
    left: -2px;
}

.gg-more-alt {
    transform: scale(var(--ggs, 1));
}
.gg-more-alt,
.gg-more-alt::after,
.gg-more-alt::before {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 4px;
    height: 4px;
    background: currentColor;
    border-radius: 100%;
}
.gg-more-alt::after,
.gg-more-alt::before {
    content: "";
    position: absolute;
    top: 0;
}
.gg-more-alt::after {
    left: -6px;
}
.gg-more-alt::before {
    right: -6px;
}

.gg-timer,
.gg-timer::before {
    border: 2px solid;
    width: 18px;
    height: 18px;
    border-radius: 40px;
}
.gg-timer {
    background: linear-gradient(to left, currentColor 10px, transparent 0) no-repeat 6px -2px/2px 6px;
    box-sizing: border-box;
    transform: scale(var(--ggs, 1));
    position: relative;
    display: block;
    border-top-color: transparent;
}
.gg-timer::after,
.gg-timer::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
}
.gg-timer::before {
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
    right: -2px;
    top: -2px;
    transform: rotate(45deg);
}
.gg-timer::after {
    width: 2px;
    height: 6px;
    background: currentColor;
    transform: rotate(-50deg);
    left: 4px;
    bottom: 5px;
    border-radius: 100px;
}

gg-notes {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs, 1));
    width: 20px;
    height: 22px;
    border: 2px solid;
    border-radius: 3px;
}
.gg-notes::after,
.gg-notes::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    border-radius: 3px;
    height: 2px;
    background: currentColor;
    left: 2px;
}
.gg-notes::before {
    box-shadow: 0 4px 0, 0 8px 0;
    width: 12px;
    top: 2px;
}
.gg-notes::after {
    width: 6px;
    top: 14px;
}

.gg-brackets {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs, 1));
    width: 18px;
    height: 18px;
    border: 2px solid;
    border-radius: 3px;
}
.gg-brackets::after,
.gg-brackets::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    border: 2px solid;
    width: 4px;
    height: 10px;
    top: 2px;
}
.gg-brackets::before {
    border-right: 0;
    left: 2px;
}
.gg-brackets::after {
    border-left: 0;
    right: 2px;
}
.gg-eye {
    position: relative;
    display: block;
    transform: scale(var(--ggs, 1));
    width: 24px;
    height: 18px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    overflow: hidden;
    box-sizing: border-box;
}
.gg-eye::after,
.gg-eye::before {
    content: "";
    display: block;
    border-radius: 100px;
    position: absolute;
    box-sizing: border-box;
}
.gg-eye::after {
    top: 2px;
    box-shadow: inset 0 -8px 0 2px, inset 0 0 0 2px;
    width: 24px;
    height: 24px;
}
.gg-eye::before {
    width: 8px;
    height: 8px;
    border: 2px solid;
    bottom: 4px;
    left: 8px;
}

.gg-add-r {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 22px;
    height: 22px;
    border: 2px solid;
    transform: scale(var(--ggs, 1));
    border-radius: 4px;
}
.gg-add-r::after,
.gg-add-r::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 10px;
    height: 2px;
    background: currentColor;
    border-radius: 5px;
    top: 8px;
    left: 4px;
}
.gg-add-r::after {
    width: 2px;
    height: 10px;
    top: 4px;
    left: 8px;
}

.gg-layout-list {
    transform: scale(var(--ggs, 1));
}
.gg-layout-list,
.gg-layout-list::after,
.gg-layout-list::before {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 10px;
    height: 2px;
    border-left: 6px double;
    border-right: 4px solid;
}
.gg-layout-list::after,
.gg-layout-list::before {
    content: "";
    position: absolute;
    left: -6px;
}
.gg-layout-list::after {
    bottom: 4px;
}
.gg-layout-list::before {
    top: 4px;
}
.gg-font-height {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 18px;
    height: 18px;
    transform: scale(var(--ggs, 1));
    border-top: 2px solid;
    border-bottom: 2px solid;
    background: linear-gradient(to left, currentColor 10px, transparent 0) no-repeat center 8px/6px 2px;
}
.gg-font-height::after,
.gg-font-height::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    border-radius: 3px;
    width: 2px;
    height: 10px;
    background: currentColor;
    top: 2px;
}
.gg-font-height::before {
    transform: rotate(25deg);
    left: 6px;
}
.gg-font-height::after {
    transform: rotate(-25deg);
    right: 6px;
}

.gg-scroll-v,
.gg-scroll-v::after,
.gg-scroll-v::before {
    display: block;
    box-sizing: border-box;
    width: 6px;
    height: 6px
}
.gg-scroll-v {
    position: relative;
    transform: scale(var(--ggs,1));
    border: 2px solid;
    border-radius: 10px
}
.gg-scroll-v::after,
.gg-scroll-v::before {
    content: "";
    position: absolute;
    transform: rotate(-45deg);
    left: -2px
}
.gg-scroll-v::after {
    border-bottom: 2px solid;
    border-left: 2px solid;
    bottom: -8px
}
.gg-scroll-v::before {
    border-top: 2px solid;
    border-right: 2px solid;
    top: -8px
}
.gg-menu-boxed {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 18px;
    height: 18px;
    border-radius: 3px;
    border: 2px solid;
}
.gg-menu-boxed::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 10px;
    height: 2px;
    background: currentColor;
    border-radius: 3px;
    top:2px;
    left: 2px;
    box-shadow: 0 4px 0, 0 8px 0
}

