#screenwriter-toolbar {
    position: fixed;
    z-index: 999;
    display: flex;
    left: 0;
    top: 0;
    padding: 0.5rem;
    &:hover {
        width: 100%;
    }
    &:hover::before {
        content: "";
        background-color: var(--color-white-opaque);
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        box-shadow: 0px 20px 20px var(--color-white-opaque);
    }
    .icons {
        display: block;
        align-items: center;
    }
    .icon {
        font-size: 20px;
        width: 30px;
        height: 30px;
        padding: 5px;
        display: grid;
        place-content: center;
        border-radius: 2px;
        position: relative;
        // background: var(--color-background);
        > div {
            width: 1rem;
            height: 1rem;
            position: relative;
        }
        &:hover {
            cursor: pointer;
            background: var(--color-light-grey);
            position: relative;
            &:before {
                content: attr(data-help);
                position: absolute;
                width: 10rem;
                top: 1.9rem;
                left: 0;
                font-size: 0.8rem;
                color: var(--color-text);
                background: var(--color-background);
                z-index: 99999;
                padding: 0.25rem 0.25rem;
            }
        }
        &.active {
            background: var(--color-text);
            color: var(--color-background);
            &:hover {
                background: var(--color-text);
            }
        }
    }

    .show-more-icons {
        position: relative;

        > .icons {
            display: none;
            position: absolute;
            left: 0;
            top: 0.5rem;
        }
        &:hover {
            .icons {
                display: flex;
            }
            .gg-more-alt {
                display: none;
            }
        }
        &.vertical {
            > .icons {
                top: 1.85rem;
            }
            &:hover .icons {
                display: block;
            }
            .icon:hover:before,
            &:hover:before {
                padding: 0.5rem 1rem;
                top: 0;
                left: 2rem;
            }
            &:hover:before {
                top: 2rem;
            }
        }
    }
}

@import "../icons/icons.scss";
