@font-face {
  font-display: swap;
  font-family: "iA Writer Duo";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/iAWriterDuoS-Regular.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+ */ url("./fonts/iAWriterDuoS-Regular.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */ /* Legacy iOS */
}
@font-face {
  font-display: swap;
  font-family: "iA Writer Duo";
  font-style: bold;
  font-weight: 600;
  src: url("./fonts/iAWriterDuoS-Bold.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+ */ url("./fonts/iAWriterDuoS-Bold.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */ /* Legacy iOS */
}
