@media print {
    :root {
        --line-height: 1.25em;
        --font-size: 11pt;
    }
    body {
        --extra-top-padding: 1.25rem;
        --color-background: #fff !important;
        --color-text: #000 !important;
        --max-dialog-width: 28rem;
        --max-dialog-annotation-width: 25rem;
        --dialog-character-indent: 15rem;
        --dialog-text-indent: 9rem;
        --dialog-annotation-indent: 12rem;
        --scene-number-width: 3rem;
    }
    body {
        font-size: var(--font-size);
    }
    @import "Pdf.scss";
}
// is required for html2pdf (https://github.com/eKoopmans/html2pdf.js/issues/79)
body.print {
    --line-height: 1.25em;
    --font-size: 9pt;
    --extra-top-padding: 1.25rem;
    --color-background: #fff !important;
    --color-text: #000 !important;
    --max-dialog-width: 100vw;
    --max-dialog-annotation-width: 25rem;
    --dialog-character-indent: 15rem;
    --dialog-text-indent: 9rem;
    --dialog-annotation-indent: 12rem;
    --scene-number-width: 2rem;
    #screenwriter-editor {
        margin: 0 auto;
        padding: 0 2rem;
    }
    @import "Pdf.scss";
}
