#screenwriter-toolbar,
#github-link, .edit-meta-data {
    display: none !important;
}
:root {
    --font-size: 12pt !important;
}
body {
    font-size: var(--font-size);
}
#screenwriter-editor > section {
    padding: 0 !important;
    padding-bottom: 1rem !important;
    --scene-number-width: 3rem;
    padding-left: var(--scene-number-width) !important;
    &.description.uppercase {
        > div:before {
            content: counter(scene-counter) " ";
            text-align: inherit;
            opacity: inherit;
            font-size: inherit;
            top: inherit;
            left: inherit;
            margin-left: calc(-1 * var(--scene-number-width)) !important;
        }
    }
    &.dialogCharacter, &.dialogText, &.dialogAnnotation, &.descriptionAnnotation {
        margin: 0 !important;
        padding: 0 !important;
    }
    &.description {
        padding-bottom: 0.5rem !important;
        &.uppercase {
            padding-top: 1.5rem !important;
            page-break-after: avoid;
        }
    }
    &.comment {
        display: none;
    }
    &.h7 {
        opacity: 0;
        page-break-after: always;
    }
}
#screenwriter-editor > section.dialogCharacter {
    padding-top: 1rem !important;
}
